<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{94,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{188,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{282,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{376,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{470,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{564,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{658,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{752,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{846,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{940,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{1034,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,114}</string>
                <key>spriteSourceSize</key>
                <string>{94,114}</string>
                <key>textureRect</key>
                <string>{{1128,0},{94,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>choicePiece.png</string>
            <key>size</key>
            <string>{1222,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1feeafe8b6cb7835d03e196fdf1cd362:dd071821e3c18c04b837f8b19e2c002f:c903909fea36686af292fdb49948e2f9$</string>
            <key>textureFileName</key>
            <string>choicePiece.png</string>
        </dict>
    </dict>
</plist>
