<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{83,0},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{166,0},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{0,87},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{83,87},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{166,87},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{0,174},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{83,174},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{166,174},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{0,261},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{83,261},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{166,261},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{0,348},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{83,87}</string>
                <key>textureRect</key>
                <string>{{83,348},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qizi.png</string>
            <key>size</key>
            <string>{249,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d0b4f8f91d0a1316393f85cb603679:e0226203297a0a47e22971aab45ddf63:e3d02b21e14e1fb72bef3710650a4039$</string>
            <key>textureFileName</key>
            <string>qizi.png</string>
        </dict>
    </dict>
</plist>
